@charset "ISO-8859-1";

.homeContent {
	border: 0.5px solid gray;
	padding: 20px;
	margin: auto;
	margin-top: 30px;
	color: #606060;
	border-radius: 5px;
	background-color: white;
	border-radius: 5px;
	max-width: 720px;
}

.homeRadList {
	padding: 0 20px 0 20px;
}

